@font-face {
  font-family: "SokolFugner";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("/fonts/SokolFugner-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Tyrs";
  src: url("/fonts/SokolTyrs-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.decorative {
  font-family: "SokolFugner", sans-serif;
}
